services:
  mosquitto:
    image: eclipse-mosquitto
    container_name: mosquitto
    volumes:
      - ./mqtt/config:/mosquitto/config
      - ./mqtt/data:/mosquitto/data
      - ./mqtt/log:/mosquitto/log
    stdin_open: true
    tty: true
    networks:
      - mqtt_default
    restart: unless-stopped

  neolink:
    image: quantumentangledandy/neolink
    container_name: neolink
    volumes:
      - ./neolink/config.toml:/etc/neolink.toml
    environment:
      - NEO_LINK_MODE=mqtt-rtsp
    networks:
      - mqtt_default
    depends_on:
      - mosquitto
    restart: unless-stopped

  mqtt-client-controller:
    build:
      context: .
      dockerfile: ./python_mqtt_client/Dockerfile.client
    image: python-mqtt-client:latest
    container_name: mqtt-client-controller
    volumes:
      - ./python_mqtt_client:/app/python_mqtt_client
    environment:
      NEOLINK_MODE: controller
    networks:
      - mqtt_default
    depends_on:
      - mosquitto
    restart: unless-stopped

  mqtt-client-manual:
    build:
      context: .
      dockerfile: ./python_mqtt_client/Dockerfile.client
    image: python-mqtt-client:latest
    container_name: mqtt-client-manual
    volumes:
      - ./python_mqtt_client:/app/python_mqtt_client
    environment:
      NEOLINK_MODE: manual
    networks:
      - mqtt_default
    depends_on:
      - mosquitto
    stdin_open: true
    tty: true
    command: [ "tail", "-f", "/dev/null" ] # overrides CMD -> container stays alive without launching the script
    restart: unless-stopped

networks:
  mqtt_default:
    driver: bridge
